In [3]:
# Use urllib to get the url's page data to use with BeautifulSoup
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

import urllib.request
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/wiki/Global_Food_Security_Index'
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, 'lxml')

In [8]:
# Gather the tables containing the information we want
tables = soup.find_all('table', class_='wikitable')
table_2022 = tables[0]

In [12]:

# Place data from table into lists, to be used in our dataframe object
rank = []
country = []
overall_score = []
affordability = []
availability = []
quality_safety = []
sustainability_adaptation = []

for row in table_2022.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) == 7:
        rank.append(cells[0].text.strip())
        country.append(cells[1].text.strip())
        overall_score.append(cells[2].text.strip())
        affordability.append(cells[3].text.strip())
        availability.append(cells[4].text.strip())
        quality_safety.append(cells[5].text.strip())
        sustainability_adaptation.append(cells[6].text.strip())

In [14]:
import pandas as pd

df = pd.DataFrame({'Rank': rank})
df['Country'] = country
df['Overall Score'] = overall_score
df['Affordability'] = affordability
df['Availability'] = availability
df['Quality and Safety'] = quality_safety
df['Sustainability and Adaptation'] = sustainability_adaptation

df.to_csv('CSC221-webscrape-data.csv')

df

,Rank,Country,Overall Score,Affordability,Availability,Quality and Safety,Sustainability and Adaptation
0,1st,Finland,83.7,91.9,70.5,88.4,82.6
1,2nd,Ireland,81.7,92.6,70.5,86.1,75.1
2,3rd,Norway,80.5,87.2,60.4,86.8,87.4
3,4th,France,80.2,91.3,69.0,87.7,70.3
4,5th,Netherlands,80.1,92.7,70.7,84.7,69.2
...,...,...,...,...,...,...,...
108,=108th,Madagascar,40.6,39.5,43.0,34.9,44.9
109,110th,Sierra Leone,40.5,36.6,35.5,41.8,49.8
110,111th,Yemen,40.1,46.4,26.9,48.7,37.8
111,112th,Haiti,38.5,32.8,49.6,37.9,34.2
112,113th,Syria,36.3,32.0,26.6,50.8,38.4